<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">KEA-Doc</a>          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="/basics">JS Basics</a>
              <a class="nav-link active" href="/restapi">CRUD API</a>
              <a class="nav-link active" href="/html-and-static">Server, HTML & Static</a>
              <a class="nav-link active" href="/tools-and-commands">Tools & Commands</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container" style="align-content: center;">

      <br><h1>Welcome to Joakim's NodeJS documentation website</h1>
      <br><h4>Use the navigation bar to view the different content.</h4>
      <br><h4>Here's a relaxing cat</h4><br>

      <img src="/img/cat_relaxing.jpg" alt="cat relaxing" width="1000px" height="600px">
    
    </div>
</body>
</html>