<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">KEA-Doc</a>          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" href="/basics">Basics</a>
              <a class="nav-link active" href="/restapi">CRUD API</a>
              <a class="nav-link active" href="/html-and-static">HTML & Static content</a>
              <a class="nav-link active" href="/tools-and-commands">Tools & Commands</a>
            </div>
          </div>
        </div>
    </nav>

    <div class="container">
      <br>
      <h3>These are the tools we've used:</h3><br>
      <p>Nodemon</p>
      <p>Express</p>
      <p>A web development framework for NodeJS that provides a robust set of features to develop web and mobile applications.</p>
      <p>Core features include routing and dynamic rendering of HTML pages. </p>
      <p>JQuery</p>

      <br><hr><br>
      
      <h3>These are the commands we're using:</h3><br>
      
      <code><p>npm install express</p></code>
      <p>Installs the express framework.</p>

      <code><p>npm install -g nodemon</p></code>
      <p>Installs nodemon globally.</p>

      <code><p>node app.js</p></code>
      <p>Runs a node app/script.</p>

      <code><p>nodemon app.js</p></code>
      <p>Runs the node app/script with nodemon, which restarts the application upon code changes.</p>
      
      <code><p>npm run start-dev</p></code>
      <p>Run custom scripts defined in package.json.</p>

      <code><p>"scripts": { <br>
        "start-dev": "cross-env PORT=3000 nodemon app.js" <br>
      },</p></code>
      <p>Example script. Uses nodemon to start the app on a specific port.</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>
</body>
</html>